<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>About us</title>
    <!-- MDB -->
    <link rel="stylesheet" href="../Static/css/mdb.min.css" />
    <link rel="stylesheet" href="../Static/css/style.css" />
  </head>
  
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="./index.html" class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a href="./pandas_profiling_report.html" class="nav-link">Pandas Profiling Report</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Projection Methods</a>
            </li>
            <li class="nav-item">
              <a href="./dashboard.html" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a href="./about.html" class="nav-link">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END Navbar -->


    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://user-images.githubusercontent.com/89308251/150701871-c67ba003-1369-4f42-bf74-2a42e02e0973.jpg');
        height: 400px;
        margin-top: 58px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Crude Oil Price Projection</h1>
            <h5 class="mb-3">By Siyada, Stephan, and Tsaschiker</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- END Background image -->


    <!-- About us -->
    <div class="container"></div>

      <div class="row content-div">
        <h1 id="our-team-"><br>
          <img width="60" height="61" src="https://user-images.githubusercontent.com/89308251/152070444-d6c122a3-c3bb-4f41-9544-4174f6aba444.png" alt="GitHubIcon">
          Our GitHub: 
        </h1>  <br><br><br><br><br><br>

        <div class="col-md-4">
          <p align="center">
            <a href="https://github.com/SYDsCorner">
              <img width="200" height="200" src="https://user-images.githubusercontent.com/89308251/151919863-ea90887f-bdec-4822-9091-fc7676375b02.png" alt="Yaya">
              <br><br> Siyada Harker
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <p align="center">
            <a href="https://github.com/SteveWeir">
              <img width="200" height="200" src="https://user-images.githubusercontent.com/89308251/151919850-f1f6c7b2-5610-4cc9-8f3a-89a3d24a7bf8.png" alt="Stephan">
              <br><br> Stephan Weir              
            </a>
          </p>          
        </div>
        <div class="col-md-4">
          <p align="center">
            <a href="https://github.com/Tesa-U">
              <img width="200" height="200" src="https://user-images.githubusercontent.com/89308251/151919859-4c6917f4-8b32-4486-bf09-76b6b3dc76d1.png" alt="Tesa">
              <br><br> Tsaschiker Ulziibadrakh          
            </a>
          </p> 
        </div>

        <div class="col-md-12">     
          <p align="center">
            <img width="900" height="225" src="https://user-images.githubusercontent.com/89308251/152066517-fd61af3e-d0aa-4c0d-b427-e532f36d1021.gif" alt="ty4visiting">
          </p>                          
        </div>       
        <!-- END About us -->      
      </div> 
    </div>




    

          










    <!-- END About us -->






    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
