<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Dashboard</title>
    <!-- MDB -->
    <link rel="stylesheet" href="../Static/css/mdb.min.css" />
    <link rel="stylesheet" href="../Static/css/style.css" />
  </head>
 
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="./index.html" class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a href="./pandas_profiling_report.html" class="nav-link">Pandas Profiling Report</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Projection Methods</a>
            </li>
            <li class="nav-item active">
              <a href="./dashboard.html" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="./about.html" class="nav-link">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END Navbar -->

    <!-- Tableau Dashboard -->
    <div class="container"></div>

    <div class="row">
      <div class="content-div">

        <div class='tableauPlaceholder' id='viz1643678665745' style='position: relative'>
          <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='CrudeOilPricePrediction&#47;HomeDashboard' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
          </object>
        </div>                
        
        <script type='text/javascript'>                    
          var divElement = document.getElementById('viz1643678665745');                    
          var vizElement = divElement.getElementsByTagName('object')[0];                    
            if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1300px';vizElement.style.height='977px';} 
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1300px';vizElement.style.height='977px';} 
            else { vizElement.style.width='100%';vizElement.style.height='1977px';}                     
          var scriptElement = document.createElement('script');                    
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
          vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
        <!-- END Tableau Dashboard -->


        </div>
      </div>
    </div>








    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
