<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Final Project: Crude Oil Price Projection</title>
    <!-- MDB -->
    <link rel="stylesheet" href="../Static/css/mdb.min.css" />
    <link rel="stylesheet" href="../Static/css/style.css" />
  </head>
 
  <body>
    <p id="top"></p>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a href="./index.html" class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a href="./pandas_profiling_report.html" class="nav-link">Pandas Profiling Report</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Projection Methods</a>
            </li>
            <li class="nav-item">
              <a href="./dashboard.html" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="./about.html" class="nav-link">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END Navbar -->

    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://user-images.githubusercontent.com/89308251/150701871-c67ba003-1369-4f42-bf74-2a42e02e0973.jpg');
        height: 400px;
        margin-top: 58px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Crude Oil Price Projection</h1>
            <h5 class="mb-3">By Siyada, Stephan, and Tsaschiker</h5>
            <a href="./about.html" class="btn btn-outline-light btn-lg" role="button">About us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Background image -->


    <div class="container"></div>
      <div class="row content-div">    

        <!-- Scrollspy -->
        <div class="col-md-2">
          <h2> Content: </h2>
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action bg-dark" href="#list-item-1">Topic & Purpose</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#list-item-2">Questions</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#list-item-3">Data sources</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#list-item-4">Technologies/Tools</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#list-item-5">Results</a>
            <a class="list-group-item list-group-item-action bg-dark" href="#list-item-6">Summary</a>
          </div>
        </div>
        <!-- END Scrollspy -->

        <!-- Spied element -->
        <div class="col-md-10">
          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            
            <h1>Crude Oil Price Projection</h1><br><br>

            <h3 id="list-item-1">★ Topic & Purpose</h3>

              <h4><p>✓ Selected topic</p></h4>
                <p>...</p>   

              <h4><p>✓ Reason why they selected their topic</p></h4>
                <p>...</p> 


            <h3 id="list-item-2">★ Questions</h3>
              <h4><p>✓ Questions they hope to answer with the data</p></h4>
                <p>...</p> 

              <h4><p>✓ Description of the analysis phase of the project</p></h4>
                <p>...</p> 


            <h3 id="list-item-3">★ Data sources</h3>
              <h4><p>✓ Description of their source of data</p></h4>
                <p>...</p> 

              <h4><p>✓ Description of the data exploration phase of the project</p></h4>
                <p>...</p>



            <h3 id="list-item-4">★ Technologies we used</h3>
              <h4><p>✓ Technologies, languages, tools, and algorithms used throughout the project</p></h4>
                <p>...</p> 




            <h3 id="list-item-5">★ Results</h3>
              <h4><p>✓ Result of analysis</p></h4>
                <p>...</p> 
          


            <h3 id="list-item-6">★ Summary</h3>
              <h4><p>✓ Summary</p></h4>
                <p>...</p> 


                <h4><p>✓ Recommendation for future analysis</p></h4>
                <p>...</p> 
              
              
                <h4><p>✓ Anything the team would have done differently</p></h4>
                <p>...</p> 

          </div>
        </div>
        <!-- END Spied element -->

        <a align="right" href="#top"> ⇈<br>Go Top </a>

      </div>
    </div>


    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
